@font-face {
	font-family: 'MintTypeSynergaProRegular';
	src: url('../fonts/MintTypeSynergaProRegular.eot');
	src: url('../fonts/MintTypeSynergaProRegular.eot') format('embedded-opentype'),
		url('../fonts/MintTypeSynergaProRegular.woff2') format('woff2'),
		url('../fonts/MintTypeSynergaProRegular.woff') format('woff'),
		url('../fonts/MintTypeSynergaProRegular.ttf') format('truetype'),
		url('../fonts/MintTypeSynergaProRegular.svg#MintTypeSynergaProRegular') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueCondensedBold';
	src: url('../fonts/HelveticaNeueCondensedBold.eot');
	src: url('../fonts/HelveticaNeueCondensedBold.eot') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'),
		url('../fonts/HelveticaNeueCondensedBold.ttf') format('truetype'),
		url('../fonts/HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueCyrMedium';
	src: url('../fonts/HelveticaNeueCyrMedium.eot');
	src: url('../fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyrMedium.woff') format('woff'),
		url('../fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
		url('../fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');
}

@font-face {
	font-family: 'HelveticaNeueCyrRoman';
	src: url('../fonts/HelveticaNeueCyrRoman.eot');
	src: url('../fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyrRoman.woff') format('woff'),
		url('../fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
		url('../fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}
