/* 
// ===============================================

	Frontend by ILya Komichev
	ilko.me

// ===============================================
*/


@import "_fonts"
@import "_tools"
@import "_common"



// ===============================================
//	#layout
// ===============================================
small = "(max-width: 1360px)"

html
	height 100%
	
.page-body
	position relative
	overflow-y scroll
	background color-white
	font-main()
.ilkome
	min-height 100%
	position relative
	min-width 1340px
	padding-bottom 310px

	@media small
		min-width 1000px
.wrap
	margin 0 auto
	padding 0 20px
	width 1340px
	@media small
		padding 0 10px
		width 1000px


// ===============================================
//	#blocks
// ===============================================
logo()
	display block
	width 234px
	height 78px
	background url("../img/logo.png") no-repeat
	&:after
		content " "
		background url("../img/logo-scroll.png") no-repeat
.block-name
	font-size 40px
	text-align center
.footer
	position absolute
	left 0
	bottom 0
	width 100%
	padding 110px 0
	height 310px
	clearfix()
	font-family font-roman
	line-height 17px
	background color-maintext
	@media small
		padding-top 80px
	
	.wrap
		position relative
		clearfix()
	
	&__social
		position relative
		z-index 2
		float left
		padding-top 50px
		padding-right 25px
		margin-left -10px
		@media small
			padding-top 35px
			margin-left -5px
		ul
			lino()
		li
			lino()
			display inline-block
			padding-right 15px
		a
			display inline-block
			width 18px
			height 18px
			&:hover
				opacity .8
		.fb a
			background url("../img/i-soc-f.png") center center no-repeat
		.inst a
			background url("../img/i-soc-inst.png") center center no-repeat
		.tw a
			background url("../img/i-soc-tw.png") center center no-repeat
		.in a
			background url("../img/i-soc-in.png") center center no-repeat
					
	&__copy
		float left
		padding-top 54px
		color #757477
		font-size 16px
		letter-spacing -0.2px
		@media small
			position absolute 
			left 10px 
			top 15px
	
	&__logo
		position absolute 
		left 50%
		top 0px
		width 234px
		margin-left -120px
		a
			logo()

	&__contacts
		float right
		padding-top 52px
		padding-right 5px
		color #fff
		font-size 16px
		letter-spacing -0.2px
		@media small
			padding-top 35px
		a
			color color-white
			&:hover
				color color-link
		.phone
			display inline-block
			margin-right 47px
			padding-left 20px
			padding-top 2px
			background url("../img/i-contacts.png") 0 0 no-repeat
			@media small
				display block
				margin-bottom 14px
		.email
			display inline-block
			padding-left 25px
			padding-bottom 5px
			background url("../img/i-email.png") 0 1px no-repeat
			@media small
				display block



// ===============================================
//	#header
// ===============================================
.header
	background-color color-bg-black
.headerhome
	height 895px
	margin-bottom 100px
	background color-bg-black url("../img/bg-home.jpg") center top no-repeat
	cover()
.headerabout
	padding-bottom 160px
	background color-bg-black url("../img/bg-about.jpg") no-repeat
	cover()
.headerguarantees
	padding-bottom 25px
	background color-bg-black url("../img/bg-guarantees.jpg") right top no-repeat
	cover()
.headerprices
	padding-bottom 110px
	background color-bg-black url("../img/bg-prices.jpg") right top no-repeat
	cover()
.headerinside
	height 135px
	margin-bottom 110px

.headmenu
	position absolute
	width 100%
	left 0
	top 0
	clearfix()
	padding-top 81px
	
	.wrap
		clearfix()
	
	ul.menu-left
		float left
	ul.menu-right
		float right
	ul
		lino()
	li
		lino()
		display inline-block
		line-height 15px
		&.about
			padding-right 90px
			@media small
				padding-right 30px
				padding-left 5px
		&.servies
			padding-right 85px
			@media small
				padding-right 25px
		&.contact
			padding-left 105px
			@media small
				padding-left 15px
		&.is-mark
			padding-left 85px
			@media small
				padding-left 30px
				padding-right 22px
			a
				color color-link
				anim-color()
				&:hover
					color alpha(color-link, .7)
		&.is-active
			a
				color color-link
				padding-bottom 8px
				border-bottom 2px solid color-link
	
	a
		display block
		color color-white
		text-transform uppercase
		font-size 15px
		font-family font-medium
		line-height 15px
		letter-spacing 1px
		&:hover
			color color-link
.headmenu-fixed-hide
	visibility hidden
	position fixed
	z-index 110
	left 0
	top -100px
	padding-top 0
	width 100%
	background-color color-bg-black
	.wrap
		position relative
		max-width 1300px
		height 85px
		padding 0
		padding-top 37px
		background-color color-bg-black
		@media small
			width 980px
			
	.headlogo 
		top 21px
		a
			height 40px
			background url("../img/logo-scroll.png") no-repeat
	li.is-mark
		@media small
			margin-right -22px
			padding-left 15px
		a
			margin -13px 0px
			padding 13px 20px
			border 1px solid color-link
	li.contact
		padding-left 65px
		@media small
			padding-left 15px
.headmenu-fixed
	visibility visible
	top 0
	anim(0.5s)
	

.headlogo
	position absolute 
	left 50%
	top 27px
	width 234px
	margin-left -120px
	a
		logo()
		anim(none)
.headlegend
	width 520px
	float right
	padding-top 285px
	margin-right 110px
	text-align right
	color color-white
	
	&__name
		padding-bottom 20px
		font-size 60px
		color color-white
		font-family font-bold
		font-weight 700
		text-transform uppercase
	
	&__text
		margin-right -5px
		margin-bottom 35px
		font-size 20px
		line-height 30px
	
	&__act
		.btn-gold
			margin-left 40px
			width 150px
.headtext
	width 850px
	margin 0 auto
	padding-top 255px
	padding-bottom 60px
	text-align center
	color white
	font-size 20px
	font-weight 400
	line-height 30px
	background url("../img/logo-sep.png") center bottom no-repeat
	
	&.has-padding
		padding-top 215px
		padding-bottom 40px

	&__name
		margin-bottom 70px
		color white
		font-size 40px
		font-weight 700
		text-transform uppercase
	p
		margin-bottom 30px



// ===============================================
//	#page-elements
// ===============================================

//	#contact
// ======================
.contactsbox
	position relative
	margin-top -110px
	#gmap
		height 565px
	
	&__content
		padding 105px 0
		wrap()
		gutter(20px)
			
	&__item
		col(4,1)
		white-space nowrap
		text-align center
		font-size 18px
		font-weight 400
		line-height 31px
		.row
			max-width 250px
			wrap()
			margin 0 auto
		.box
			col(2,1)
		h3
			margin-bottom 30px
			color #d3ae50
			font-size 26px
			font-weight 700
			line-height 29px
			text-transform uppercase
		ul
			lino()
		li
			lino()
		span
			color #7d7d7d
		a
			font-size 18px


//	#guarantees
// ======================
.guarantees
	padding 100px 0
	background color-bg-black url("../img/bg-guarantees.jpg") center top no-repeat
	cover()
	color color-white
	
	.wrap
		overflow hidden

	&__name
		@extend .block-name
		margin-bottom 30px
		color color-white

	&__text
		margin 0 110px 80px 110px
		font-size 20px
		line-height 30px
		text-align center

	&__content
		overflow hidden
		wrap()
		gutter(15px)
		&.is-animate
			transition padding 0.7s, margin 0.7s, opacity 1.2s
			margin-bottom -300px
			padding-top 300px
			opacity 0
		&.is-animated
			opacity 1
			margin-bottom 0px
			padding-top 0px
.guarantee
	align(top)
	col(3,1)
	text-align center
	
	&.gui .guarantee__name
		background url("../img/i-guar-gui.png") center top no-repeat
	&.time .guarantee__name
		background url("../img/i-guar-time.png") center top no-repeat
	&.imp .guarantee__name
		background url("../img/i-guar-imp.png") center top no-repeat
	&.mon .guarantee__name
		background url("../img/i-guar-mon.png") center top no-repeat
	&.con .guarantee__name
		background url("../img/i-guar-con.png") center top no-repeat
	&.plag .guarantee__name
		background url("../img/i-guar-plag.png") center top no-repeat
	
	&__name
		padding-top 90px
		margin-bottom 30px
		color #D4AF50
		font-size 26px
		font-family font-bold
		text-transform uppercase
		font-weight 700
		
	&__text
		font-size 18px
		line-height 31px
.guarantees_big
	padding-top 215px
	padding-bottom 0px
	background none
	.guarantee
		margin-bottom 75px
	.guarantee__name
		color color-white


//	#oneprogect
// ======================
.oneprogect
	padding 110px 0
	&.is-grey
		background #f5f5f5

	&-in
		width 810px
		margin 0 auto
		text-align center
		background #fff
		border 2px solid #d4af50
		border-bottom 0
	&-bg
		width 810px
		margin 0 auto
		height 9px
		background #fff
		border 2px solid #d4af50
	
	&__date
		margin-top 80px
		margin-bottom 65px
		font-size 26px
		font-weight 400
		font-family font-roman
		.is-mark
			display inline-block
			padding-right 12px
			color #d4af50
			text-transform uppercase
		.sep
			display inline-block
			padding 0 4px

	&__name
		margin-bottom 15px
		font-size 40px
		font-weight 700
		text-transform uppercase
	
	&__text
		margin-bottom 30px
		color #7d7d7d
		font-size 20px
		font-weight 400
		line-height 30px
	
	&__act
		padding-bottom 110px



//	#order
// ======================
.order
	clearfix()
	padding-bottom 100px
	.wrap
		clearfix()
	&.has-padding
		padding 100px 0
.order__steps
	float right
	width 50%
	margin-bottom 80px
	&.has-float-left
		float left
		text-align right
	&-in
		border-bottom 2px solid color-link
		&.is-step-1
			margin-left -165px
			.step
				@media small
					margin-right 20px
		&.is-step-2
			margin-left -400px
		&.is-step-3
			margin-right -130px
			.step
				@media small
					margin-right 0px
					margin-left 20px
					
	.step
		display inline-block
		text-align center
		margin-right 110px
		padding-bottom 15px
		margin-bottom -2px
		&:last-child
			margin-right 0
		&.is-acrive
			border-bottom 6px solid color-link
			.name
				font-size 40px
			.pos
				font-size 20px
				line-height 30px
		a:hover
			.pos
			.name
				color color-link
			
		.pos
			margin-bottom 5px
			color #7d7d7d
			font-size 14px
			anim()
			
		.name
			color #29272e
			font-size 20px
			font-family font-bold
			text-transform uppercase
			anim()
.order__content
	clear both
	clearfix()
	&-in
		float left
		width 66%
		margin-right 125px
		@media small
			margin-right 60px
			width 68%
.orderline
	clearfix()
	dt()
	padding-bottom 32px
	
	&.has-padding
		padding-top 20px
		.orderline__name
			vertical-align top
	
	&.has-padding-top
		padding-top 50px
		.orderline__name
			padding-top 20px
			vertical-align top
	
	&__name
		dtc()
		vertical-align middle
		width 180px
		font-family font-medium
		font-size 16px
		&.has-align-top
			padding-top 18px
			vertical-align top
		
	&__content
		dtc()
		width 100%
		vertical-align middle
		clearfix()
		select, input, textarea
			margin 0
		
		.attachfile-yes
			position relative
			display block
			margin-bottom 15px
			padding 20px 25px
			color color-white
			font-size 16px
			font-family font-roman
			background color-link
			&:hover
				opacity .7
			&:after
				content "x"
				position absolute 
				right 20px 
				top 50%
				margin-top -10px
		
		.attachfile-loading
			display block
			margin-bottom 15px
			font-size 16px
			font-family font-roman
			color color-white
			border 2px solid color-link
			&-in
				width 56%
				padding 20px 25px
				text-align right
				background color-link
				
		.terms-link
			display inline-block
			margin-left 10px
			padding-bottom 2px
			font-size 16px
			font-family font-roman
			border-bottom 1px solid #000
			&:hover
				border-color color-link
.order__price
	width 245px
	float left
	position relative
	padding-bottom 30px
	&-in
		position relative
		width 245px
		height 245px
		padding-top 85px
		text-align center
		background color-white
		border 2px solid color-link
		&.has-padding-small
			padding-top 35px
	&-bg-line
		position absolute
		width 380px
		height 2px
		left -70px
		top 120px
		background color-link
		@media small
			display none
	&-bg
		height 7px
		border 2px solid color-link
		border-top 0
		
	&__act
		padding-top 15px
	
	&__name
		color #7d7d7d
		font-size 20px
		font-weight 400
		line-height 30px
	
	&__value
		color #29272e
		font-size 36px
		font-style italic
		line-height 43px
		
	&__codename
		padding-top 25px
		font-size 16px
		line-height 30px
		
	&__codevalue
		padding-top 10px
		font-size 26px
		font-weight 700
		line-height 29px
		font-family font-bold
		text-transform uppercase
.orederblock__name
	margin-bottom 60px
	color black
	font-size 20px
	line-height 29px
	text-transform uppercase
.orderdates
	wrap()
	margin 0 -10px 0 1px
	&__item
		col(7,1)
		position relative
		margin -1px
		padding 18px 0px 14px 0px
		text-align center
		border 2px solid #dfdfe3
		anim()
		&:after
			content " "
			position absolute 
			left 0px 
			bottom 0px
			width 100%
			height 4px
			border-top 2px solid transparent 		
			anim()
		&:hover
			color color-maintext
			border-color color-link
			z-index 2
			&:after
				border-top 2px solid color-link
				
		&.has-nostyle
			padding 0
			padding-bottom 20px
			border none
			font-size 16px
			&:after
				border none
				
		
		.month
			font-family font-medium
			font-size 10px
			font-weight 400
			line-height 30px
			text-transform uppercase
			line-height 12px
		
		.day
			font-family font-medium
			font-size 20px
			font-weight 700
			line-height 26px
		
		.price
			font-size 16px
			font-style italic
			line-height 24px
.orderdelivey
	margin-left 180px
	margin-bottom 55px
	padding 15px 20px
	font-family SynergaPro
	font-size 16px
	line-height 24px
	text-align center
	background url("../img/bg-order.png")
	span
		font-style italic
.order-hide
	display none
.js-orderprice-fixed
	width 245px
	anim(0.2s)


//	#popup
// =====================
.popup
	display inline-block
	margin 30px
	padding 50px 55px
	color color-white
	background #d3ae4f
	&__name
		color color-white
		font-size 26px
		margin-bottom 50px

	.text-inp, .text-area
		width 420px
		max-width 420px
		margin-bottom 30px
		padding-left 20px
		padding-right 20px
		color color-white
		background transparent
		border 2px solid color-white
		&::-webkit-input-placeholder
			color alpha(color-white, .8)
		&:focus
			border 2px solid alpha(color-white, .7)
	.text-area
		height 230px
	.btn-submit
		@extend .btn-black
		width 100%
		border none
	&__act
		padding-top 20px
.popupsm
	width 530px
	padding 50px 80px
	color color-white
	font-size 18px
	line-height 28px
	text-align center
	background #d3ae4f url("../img/bg-lines.png")
	.btn-ok
		@extend .btn-trans
		margin-top 10px
		width 150px
		color color-white
		padding-top 17px
		border none
		background alpha(color-maintext, .25)
		&:hover
			background alpha(color-maintext, .50)
.bg-freecon
	padding-left 30px
	background url("../img/i-phone.png") 0 center no-repeat

//	#reviews
// ======================
.reviews
	padding 100px 0
	background #f5f5f5
	
	&__name
		@extend .block-name
		margin-bottom 65px
		sup
			color #d4af50
			font-size 23px
			font-weight 700
			text-transform uppercase
	
	&__content
		margin 0 auto
		&-in
			width 860px
			margin 0 auto
	
	&__scroller
		padding-left 220px
		.mCustomScrollBox .mCSB_container
			//margin-left 220px
			width auto
			margin-right 220px
	
	&__act
		text-align center
		> * 
			display inline-block
			margin 0 15px
.review
	margin-bottom 65px
	text-align center
	
	&__date
		margin-bottom 10px
		color #d3b053
		font-size 15px
		font-weight 500
		letter-spacing 0.7px
		font-family font-medium
		text-transform uppercase
	
	&__text
		font-size 18px
		font-weight 400
		line-height 31px
	
	&__username
		color #8e8e8e
		font-size 14px
		font-style italic
		line-height 36px


//	#services
// ======================
.services
	margin-bottom 100px
	
	.wrap
		overflow hidden
		
	&__name
		@extend .block-name
		margin-bottom 70px
		
	&__content
		overflow hidden
		wrap()
		gutter(15px)
		&.is-animate
			transition padding 0.7s, margin 0.7s, opacity 1.2s
			margin-bottom -300px
			padding-top 300px
			opacity 0			
		&.is-animated
			opacity 1
			margin-bottom 0px
			padding-top 0px
.service
	align(top)
	col(4,1)
	text-align center
	
	&.ess .service__name
		background url("../img/i-services-ess.png") center top no-repeat
	&.dis .service__name
		background url("../img/i-services-dis.png") center top no-repeat
	&.phd .service__name
		background url("../img/i-services-phd.png") center top no-repeat
	&.law .service__name
		background url("../img/i-services-law.png") center top no-repeat
	
	&-in
		position relative
		overflow hidden
		min-height 390px
		padding 35px 25px 30px 25px
		border 2px solid #d4af50
		&:after
			content " "
			position absolute 
			left -2px 
			bottom -2px
			width 102%
			height 9px
			background color-white
			border 2px solid #d4af50
		&:before
			content " "
			position absolute 
			left 50%
			margin-left -(118/2)px
			bottom 30px
			width 118px
			height 22px
			background url("../img/logo-sep.png") no-repeat

	&__name
		margin-bottom 20px
		padding-top 75px
		font-size 26px
		font-family font-roman
		font-weight 400
		letter-spacing 0.5px
		text-transform none
	
	&__text
		padding-bottom 30px
		font-size 16px
		font-weight 400
		line-height 28px
.services_big
	margin-bottom 80px
	.service
		col(2,1)
		margin-bottom 30px
	.service-in
		padding-top 55px
		padding-bottom 75px
		&:before
			bottom 60px


//	team
// ======================
.team
	padding-top 100px
	padding-bottom 60px
	&__name
		@extend .block-name
		margin-bottom 70px
	&__content
		overflow hidden
		wrap()
		gutter(35px)
.team-item
	align(top)
	col(2,1)
	margin-bottom 50px
		
	&-in
		position relative
		margin-left 40px
		padding 65px 30px 30px 125px
		min-height 370px
		border 2px solid #d4af50
		border-bottom 0
	&__bd
		margin-left 40px
		height 9px
		border 2px solid #d4af50
			
	&__pic
		position absolute 
		left -45px 
		top 40px
	
	&__name
		margin-bottom 5px
		color color-bg-black
		font-family font-bold
		font-size 26px
		font-weight 500
		line-height 29px
		text-transform none
	
	&__desc
		margin-bottom 20px
		font-size 16px
		font-weight 400
		line-height 30px
	
	&__text
		font-size 16px
		font-weight 400
		line-height 28px


//	#textbox
// ======================
.textbox
	padding-top 100px
	padding-bottom 70px
	background #f5f5f5
	
	&__name
		@extend .block-name
		margin-bottom 65px
		sup
			color #d4af50
			font-size 23px
			font-weight 700
			text-transform uppercase
	
	&__content
		margin 0 auto
		width 860px
		text-align center
		font-size 20px
		font-weight 400
		line-height 30px
		.has-padding
			display inline-block
			padding 0 15px
		p
			margin-bottom 30px



// ===============================================
//	#libraries
// ===============================================

//	#scroller
// ======================
.js-scrollerbox
	overflow hidden 
	position relative
	height 380px
.mCustomScrollBox 
	position relative
	overflow hidden
	height 100%
	max-width 100%
	.mCSB_container
		overflow hidden
		width auto
		height auto
		width 860px
		margin 0 auto
	.mCSB_scrollTools
		position absolute
		width 13px
		height 355px
		left auto
		top 0
		right 10px
		bottom 0px
		&:after
			content " "
			position absolute 
			right -1px 
			bottom -26px
			width 34px
			height 18px
			background url("../img/i-scroll.png") no-repeat
	.mCSB_draggerContainer
		position absolute
		top 0px
		left 0px
		bottom 0px
		right 0px
		height auto
	.mCSB_dragger 
		z-index 1
		width 100%
		height 30px
		cursor pointer
	.mCSB_dragger_bar
		position relative
		width 13px
		height 100%
		margin 0px auto
		text-align center
		background color-white
		border 3px solid #d5d5d5
	.mCSB_draggerRail
		width 3px
		height 100%
		margin 0px auto
		background #d5d5d5


// ==============================================
//	#selct
// ==============================================
.jq-selectbox
	width 100%
	color black
	font-form()
	
	&.w100
		width 100%

	&.changed
		.jq-selectbox__select-text
			color #000
			
		
	&__select
		height 55px
		padding 17px 20px 17px 20px
		background #fff
		border 2px solid #29272e
		cursor pointer
	
		&-text
			display block
			width 100%
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			color #7d7d7d
	
	&__trigger
		position absolute
		top 2px
		right 18px
		width 13px
		height 100%
		background url("../img/select-bg.png") center center no-repeat
	
	&__dropdown
		top 53px
		width 100%
		background #FFF
		border 2px solid #29272e
		ul
			lino()
			padding 0px
		li
			lino()
			padding 20px 0px
			margin 0 20px
			border-bottom 2px solid #dfdfe3
			color #000000
			cursor pointer
			anim()
			&:hover
				color color-link
			&.sel
				color color-link
				cursor default
			&:first-child
				color #7d7d7d
			&:last-child
				border-bottom none
	
	&__search
		padding 0px 20px
		padding-top 10px
		padding-bottom 10px 
		
		input 
			margin 0
			width 100%
			padding 5px 0
			border-bottom 1px solid #c8c8c8
			font-family font-reg
			font-size 16px
.jq-checkbox
	overflow hidden
	margin-bottom -7px
	display inline-block
	width 22px
	height 22px
	border 1px solid #000
	&.checked 
		background url("../img/i-ok.png") center center no-repeat	

//	#remodal
// ======================
html.remodal-is-locked
	overflow hidden
	body
		overflow hidden

// Anti FOUC
.remodal
[data-remodal-id]
	display none

// Necessary styles of the overlay
.remodal-overlay
	position fixed
	z-index 9999
	top -5000px
	right -5000px
	bottom -5000px
	left -5000px
	display none
	overflow hidden

// Necessary styles of the wrapper
.remodal-wrapper
	position fixed
	z-index 10000
	top 0
	right 0
	bottom 0
	left 0
	display none
	overflow auto
	overflow-y scroll
	text-align center
	-webkit-overflow-scrolling touch
	background alpha(#000, .8) 

// Fix iPad, iPhone glitches
.remodal-overlay,
.remodal-wrapper
	backface-visibility hidden

// Necessary styles of the modal dialog
.remodal
	position relative
	text-size-adjust 100%
	
a.remodal-close
	position absolute
	top 10px
	right 10px
	text-decoration none
	anim-none()
	&:hover
		color white
	&:after
		content "+"
		display block
		padding 15px 20px
		font-size 40px
		line-height 28px
		cursor pointer
		text-decoration none
		anim-color()
		transform rotate(45deg)
		
.remodal-is-initialized
	/* Disable Anti-FOUC */
	display inline-block

.remodal, .remodal-wrapper:after
	vertical-align middle
.remodal-wrapper:after
	content ""
	display inline-block
	height 100%
	margin-left -0.05em
	
.remodal.remodal-is-opening
	animation remodal-opening-keyframes 0.3s
.remodal.remodal-is-closing
	animation remodal-closing-keyframes 0.3s
	
@keyframes remodal-opening-keyframes
	from
		transform scale(1.05)
		opacity 0
	to
		transform none
		opacity 1
@keyframes remodal-closing-keyframes
	from
		transform scale(1)
		opacity 1
	to
		transform scale(0.95)
		opacity 0
