head
	title Trusted Academics

	// Meta
	meta(charset="utf-8")
	//-meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")
	link(rel="icon" type="image/png" href="favicon.png")

	// Styles
	link(href="css/style.css", rel="stylesheet")
	//-block styles

	//- Scripts
	script(src="js/jquery.min.js", type="text/javascript")
	//-block scripts
	script(src="js/jquery.mCustomScrollbar.min.js", type="text/javascript")
	script(src="js/jquery.remodal.min.js", type="text/javascript")
	script(src="js/jquery.sticky-kit.min.js", type="text/javascript")
	script(src="http://maps.googleapis.com/maps/api/js", type="text/javascript")
	script(src="js/jquery.formstyler.min.js", type="text/javascript")
	script(src="js/functions.js", type="text/javascript")